
<nav class="navbar " role="navigation">
   
    <ul class="list-inline" >
      <li><%=link_to "Computadoras", '#',id:"c" %></li>
      <li>|</li>
      <li>Phasellus iaculis</li>
      <li>Nulla volutpat</li>
      </ul>
      
<nav>
